#photo-viewer {
  display: none;
}
#photo-viewer .photo-box {
  position: relative;
  display: block;
  width: 800px;
  height: 450px;
}
#photo-viewer .photo-box.is-loading::after {
  content: "Loading...";
  position: absolute;
  z-index: 10;
  color: #000;
  top: calc(50% - 20px);
  left: calc(50% - 50px);
}
#photo-viewer .photo-box img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
}
#photo-viewer .thumbnail-anchor img {
  width: 80px;
  height: 45px;
}

#photo-viewer .photo-box img.active {
  border: 2px solid #ff0000;
}